**/.env
**/taskflow-projet-formation.md
.vscode
**/target/
*.class
*.jar
*.war

!.mvn/wrapper/maven-wrapper.jar

**/node_modules/
**/.nuxt/
**/.output/
**/dist/

.idea/
.vscode/settings.json
*.iml

.DS_Store
Thumbs.db

*.log
**/logs/